.idea
.vscode/
nbproject/
bin/
worlds/
plugins/
logs/
.history/
banned-ips.txt
banned-players.txt
ops.txt
mcpp.yml
mcpp-soft.yml
server.properties
white-list.txt
resources/
launcher.sh
compile.sh
checker.sh
install.log
mcpp.phar
